In [17]:
import geopandas as gpd

gdf = gpd.read_file('temp/andorra.geo.jsonl', engine="pyogrio", columns=['name'])
gdf

       name                                           geometry
0      None                           POINT (1.57211 42.52998)
1      None                           POINT (1.57547 42.53259)
2      None                           POINT (1.58472 42.53683)
3      None                           POINT (1.58850 42.53557)
4      None                           POINT (1.59774 42.56589)
...     ...                                                ...
33049  None  MULTIPOLYGON (((1.53779 42.60424, 1.53781 42.6...
33050  None  MULTIPOLYGON (((1.53457 42.60674, 1.53467 42.6...
33051  None  MULTIPOLYGON (((1.53481 42.60678, 1.53488 42.6...
33052  None  MULTIPOLYGON (((1.53455 42.60649, 1.53463 42.6...
33053  None  MULTIPOLYGON (((1.53091 42.51175, 1.53114 42.5...

[33054 rows x 2 columns]

:

In [11]:
gdf

       name                                           geometry
0      None                           POINT (1.57211 42.52998)
1      None                           POINT (1.57547 42.53259)
2      None                           POINT (1.58472 42.53683)
3      None                           POINT (1.58850 42.53557)
4      None                           POINT (1.59774 42.56589)
...     ...                                                ...
33049  None  MULTIPOLYGON (((1.53779 42.60424, 1.53781 42.6...
33050  None  MULTIPOLYGON (((1.53457 42.60674, 1.53467 42.6...
33051  None  MULTIPOLYGON (((1.53481 42.60678, 1.53488 42.6...
33052  None  MULTIPOLYGON (((1.53455 42.60649, 1.53463 42.6...
33053  None  MULTIPOLYGON (((1.53091 42.51175, 1.53114 42.5...

[33054 rows x 2 columns]